In [1]:
import numpy as np
import pandas as pd 
import scanpy as sc
import utils
import mrf
import os 
import random 
import mrf

/home/qinxianhan/.conda/envs/sc/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(8,8))
import seaborn as sns

In [3]:
adata = sc.read_visium('../../dataset/goldStandard')
adata

/home/qinxianhan/.conda/envs/sc/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/home/qinxianhan/.conda/envs/sc/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

AnnData object with n_obs × n_vars = 3639 × 33538
    obs: 'in_tissue', 'array_row', 'array_col'
    var: 'gene_ids', 'feature_types', 'genome'
    uns: 'spatial'
    obsm: 'spatial'

In [4]:
coord = adata.obsm['spatial']
adata = utils.data_preprocess(adata)
exp = adata.X

/home/qinxianhan/.conda/envs/sc/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/home/qinxianhan/.conda/envs/sc/lib/python3.11/site-packages/anndata/_core/anndata.py:1840: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

In [5]:
sinGene = adata[:, 'PERM1']
coord = sinGene.obsm['spatial']
exp = sinGene.X

In [6]:
from sklearn import mixture 
gmm = mixture.GaussianMixture(n_components=2)

In [7]:
adata.obs

                    in_tissue  array_row  array_col  n_genes
AAACAAGTATCTCCCA-1          1         50        102     3586
AAACAATCTACTAGCA-1          1          3         43     1150
AAACACCAATAACTGC-1          1         59         19     1960
AAACAGAGCGACTCCT-1          1         14         94     2424
AAACAGCTTTCAGAAG-1          1         43          9     2264
...                       ...        ...        ...      ...
TTGTTTCACATCCAGG-1          1         58         42     2170
TTGTTTCATTAGTCTA-1          1         60         30     1560
TTGTTTCCATACAACT-1          1         45         27     1343
TTGTTTGTATTACACG-1          1         73         41     1420
TTGTTTGTGTAAATTC-1          1          7         51     2927

[3636 rows x 4 columns]

In [8]:
adata.obsm['spatial']

array([[ 9791,  8468],
       [ 5769,  2807],
       [ 4068,  9505],
       ...,
       [ 4631,  7831],
       [ 5571, 11193],
       [ 6317,  3291]])

In [9]:
coord = np.array(adata.obs.iloc[:,1:3])

In [10]:
highly = 'CAMK2N1'
exp = adata[:, highly].X
gmm.fit (exp)
labels = gmm.predict(exp)
adata.obs['labels'] = labels

In [23]:
coord[:,1].min()

5